.navbar {
  display: inline;
}

.navbar-spacer {
  display:block;
  float:left;
  height:44px;
  background:none;
  &.navbar-spacer-1 { 
    width:(100% / $navbar-columns) * $navbar-spacer-1;
  }
  &.navbar-spacer-2 { 
    width:(100% / $navbar-columns) * $navbar-spacer-2;
  } 
}
.navbar-item {
  width:100% / ($navbar-columns);
  min-width:50px;
  display:inline;
  float: left;
  margin:2px 0 0 0;
  font-size:2.3em;
  a,
  span,
  .olControlDLTSZoomInItemInactive,
  .olControlDLTSZoomOutItemInactive {
    display: block;
    margin:0 auto;
    width: 44px;
    height: 44px;
    color: $navbar-icon-color;
    text-decoration: none;
    @include  bv-text-shadow(icon-embossed-text-shadow);
    opacity: $normal-opacity;
    border:1px $navbar-border-color solid;
    @include border-radius(10px);
    @include bv-box-shadow($navbar-no-box-shadow);
    @include transition-property(( border, box-shadow ));
    @include transition-duration(300ms);
    @include transition-timing-function(ease-in);
    &:hover {
      border:1px #999 solid;
      opacity:$active-opacity;
      cursor: pointer;
      @include bv-box-shadow($navbar-box-shadow); 
    } &.on {
      border:1px #999 solid;
      opacity:$active-opacity;
      cursor: pointer;
      @include bv-box-shadow($navbar-box-shadow-on);
    }
    &:before {
      @include bv-font-faced($icon-font-name);
      margin: .2em;
      line-height:1.4em;
      font-style: normal;
      font-weight: normal;
      speak: none;
      -webkit-font-smoothing: antialiased;
    }
  }
  .inactive, .zoom_in_max, .zoom_out_max {
    opacity: $dimmed-opacity;
    border: 0px #999 solid !important;
    @include box-shadow(none !important);
    cursor: default !important;
    &:hover {
      opacity: $dimmed-opacity !important;   
    }
  }
  a {  
    span {
      @include hide-text;
      display:none;
    }
  }  
  .metadata {  
    &:before {
      content: "\e016";
    }
  }
  .fullscreen {  
    &:before {
      content: "\e006";
    }
    &.on:before {
      content: "\e005";
    }
  }
  .page-double {
    width: 62px !important;  
    &:before {
      content: "\e00a";
    }
  }
  .page-single {  
    &:before {
      content: "\e009";
    }
  }
  .thumbnails {  
    &:before {
      content: "\e007";
    }
  }
  .previous {  
    &:before {
      content: "\e013";
    }
  }
  .next {  
    &:before {
      content: "\e012";
    }
  }
  .annotations {  
    &:before {
      content: "\e004";
    }
  }
  .search {  
    &:before {
      content: "\e003";
    }
  }  
  .olControlDLTSZoomInItemInactive {  
    &:before {
      content: "\e00b";
    }
  }
  .olControlDLTSZoomOutItemInactive {  
    &:before {
      content: "\e00c";
    }
  }  
}