.pane.pagemeta {
    @include box-shadow(none);
    @include bv-box-shadow($metadata-box-shadow);
    width: $metadata-pane-width;
    height: 100%;
    z-index: 999999;
    padding: 5px 0 0 0 ;
    position: relative;
    background-color: $pane-background;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    .node-dlts-book {
        padding: 0;
        margin-top: .5em;
        margin-left: 12px;
        margin-left: .6rem;
        margin-right: .7em;
        margin-bottom: 2em;
        .field-name-field-title {
            font-weight: bold;
            font-size: 1.3em;
            margin: .5em 0;
            line-height: 1.3;
        }
        .field-name-field-subtitle {
            border-bottom: 1px solid #ccc;
            font-weight: bold;
            font-size: 1.1em;
            line-height: 1.25;
            margin: .5em 0;
            padding: 0 0 .5em 0;
        }
        .field-name-field-rights {
            margin-top: .5em;
            border-top: 1px solid #ccc;
            padding-top: .5em;
            font-size: .8em;
        }
        .field .field-label {
            font-weight: bold;
        }
        .lang-options {
            border-bottom: 1px solid #ccc;
            padding-bottom: .5em;
            margin-bottom: .5em;
        }
        .field-name-field-representative-image {
            img {
                max-width: 100%;
            }
        }
        .field-label-inline {
            line-height: 1.5em;
            word-wrap: break-word;
        }
        .field-label {
            display: inline;
            white-space: nowrap;
        }
        .field-items {
            display: inline;
            word-wrap: break-word;
        }
        .field-item {
            display: inline;
        }
        #node_dlts_book_metadata_group_descriptive_metadata .field-name-field-title {
            // use more specificity because title appears elsewhere
            margin-top: 1.1em;
            margin-bottom: .4em;
            .field-item {
                font-size: 1.2em;
            }
        }
        .field-name-field-author {
            .field-item {
                display: block;
                float: left;
                clear: left;
            }
            .field-item:first-child {
                display: inline;
                float: none;
                clear: none;
            }
        }
        .field-type-link-field {
            margin-top: .5em;
            border-top: 1px solid #ccc;
            padding-top: .5em;
        }
    }
}

.pagemeta-hidden .pane.display .paging.previous {
    left: -20px;
}

.pane.main[dir="rtl"] {
    .pane.pagemeta {
        float: right;
        border-left: none;
        border-left: 1px solid #ccc;
        direction: rtl;
    }
}

.pane.main[dir="ltr"] {
    .pane.pagemeta {
        float: left;
        border-right: none;
        border-right: 1px solid #ccc;
        direction: ltr;
    }
}