#header, .footer {
  padding:.5em 1em;
  @include embossed-gradient($navbar-overlay, $navbar-end-background-mix, $navbar-start-background-mix);
	h1, h2 {
		font-size:1.2em;
		text-transform:uppercase;
	  @include bv-text-shadow(embossed-text-shadow);  
	  letter-spacing:.05em;
	  font-weight:bold;
	}
}

.top {
  &.hidden {
    display: none;
    visibility: hidden;
  }
}

#site-name {
  margin: 0;
}

.titlebar {
  margin:0;
  padding:0 .25em;
  background:$dark-background;
  height: 36px;
  overflow:hidden;
  @include embossed-gradient($titlebar-overlay, $titlebar-topbackground, $titlebar-bottombackground);
	.book {
	  @include bv-font-faced($icon-font-name);
	  display: block;
	  float: left;
	  font-size:2em;
	  color: $titlebar-color;
	  width: 40px;
	  height: 36px;
	  opacity: $active-opacity;
	  &:before {
	    margin: .2em;
    	line-height:1.33em;
    	font-style: normal;
    	font-weight: normal;
    	speak: none;
    	-webkit-font-smoothing: antialiased;
    	content: "\e00f";
	  }
	}
	#page-title { 
	  @include  bv-text-shadow(embossed-text-shadow-dark-background);  
	  letter-spacing: .05em;
	  color: $titlebar-color;
	  line-height: 1.6em;
	  font-size:1.6em;
	}
}